<?xml version="1.0" ?>
<model>
  <name>BPGC_Map</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Vimarsh</name>
    <email>f20221060@goa.bits-pilani.ac.in</email>
  </author>
  <description>
    BITS Goa complete map for Gazebo simulation
  </description>
</model>
